body {
    position: relative;
	text-align: center;
}
.font{
    font-family:"楷体";
}
p{
    font-family:"仿宋";
    font-size: 60px;    
    font-weight: 100;
}
.input {
	display: block;
}
#input_phone {
	text-align: center;
	padding: 0px 0px 10px;
	color: #757575;
	font-family: "宋体";
    font-weight:bold;
	font-size: 25px;
	border: 0px;
	border-bottom: 2px dashed  #000000;
	width: 90%;
}
#input_search{
    margin-top:20px;
   	text-align: center;
	padding: 0px 0px 10px;
	color:white;
	font-family: "黑体";
	font-size: 30px; 
    border-radius:20px 20px 20px 20px;
    width:900px;
    height:50px;
    border-color:darkred;
    background-color: darkred;
}
a{
    color: #aaaaaa;
    text-decoration:none;
}

.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: #aaaaaa;
}